.work__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  align-items: center;
  background: #81a256 url("../img/work/work__background__image.png") top no-repeat;
  background-size: cover;
}
.work__portfolio__filter {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 15px 0;
    border-top: 1px solid #94b963;
    border-bottom: 1px solid #94b963;
  }
  &__headline {
    padding-left: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__items__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    list-style: none;
  }
  &__item__link {
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
  }
  &__item {
  }
  &__item__position {
    margin: 15px 15px;
  }
  &__item__link:hover {
    background-color: #f5c149;
    border-radius: 5px;
    transition: 0.3s;
  }
}
.work__portfolio__list {
  &__wrapper {
    padding: 25px 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
  }
  &__item__image {
    width: 100%;
  }
  &__item {
    width: 100%;
    margin-top: 20px;
  }
  &__item__image__wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  &__item__text__wrapper{
    text-align: center;
    padding: 20px 0;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
  }
  &__item__image--hover {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    border-radius: 5px 5px 0 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 77, 41, 0.71);
  }
  &__item__image--hover:hover {
    opacity: 1;
    transition: 0.3s;
  }
  &__item__image__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 48px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 576px) {
  .work__portfolio__list__item {
    max-width: 48%;
  }
}
@media only screen and (min-width: 768px) {
  .work__portfolio__list__item {
    max-width: 32%;
  }
}
@media only screen and (min-width: 992px) {
  .work__portfolio__list__item {
    max-width: 24%;
  }
}
@media only screen and (min-width: 1100px) {
  .work__portfolio__list__item {
    max-width: 260px;
  }
}