.top__title {
  &__wrapper {
    padding: 0px 10px;
    max-width: 1070px;
    text-align: center;
    &__positioning {
      margin: 20vh auto 60px;
    }
  }
  &__headline {
    padding: 30px 0;
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__paragraph__type1 {
    padding: 20px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__paragraph__type2 {
    color: #ffcccf;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}